<h1>Pet BnB</h1>

<main id="pet-index" class="container">

    <h2 class="page-name">Your Pets</h2>

    <% @pets.each_with_index do |pet, index| %>

        <%= link_to(pet) do %>

            <div class="component">
                <%= image_tag pet.picture if pet.picture.attached? %>
                <h3><%= pet.name %></h3>
                <p><%= pet.pet_type.capitalize %></p>
            </div>
        
        <% end %>

    <% end %>

</main>
