<main id="pet-index" class="container">

    <h2 class="page-name">Your Pets</h2>

    <% @pets.each_with_index do |pet, index| %>

        <div class="component">
            <%= link_to(pet) do %>
                <div class="component__image" style="background-image: url('<%= url_for(pet.picture) if pet.picture.attached? %>');">
                </div>
                <div class="component__info">
                    <h3><%= pet.name %></h3>
                    <p>(<%= pet.pet_type.capitalize %>)</p>
                </div>
            <% end %>
        </div>
    <% end %>

</main>
