<main id="pet-index" class="container">

    <h2 class="page-name">Your Pets</h2>

    <% @pets.each_with_index do |pet, index| %>

        <div class="component component-pet" style="background-image: url('<%= url_for(pet.picture) if pet.picture.attached? %>');">
            <%= link_to(pet) do %>
                <h3><%= pet.name %></h3>
                <p><%= pet.pet_type.capitalize %></p>
            <% end %>
        </div>
    <% end %>

</main>
