<main id="petsitter" class="container">

    <h2 class="page-name">Petsitters</h2>

    <% @petsitters.each_with_index do |petsitter, index| %>

        <div class="component">
            <%= link_to(petsitter) do %>
                <div class="component__image" style="background-image: url('<%= url_for(petsitter.user.picture) if petsitter.user.picture.attached? %>');">
                </div>
                <div class="component__info">
                    <p class="tiny-shadow"><%= petsitter.user.first_name + " " + petsitter.user.last_name %></p>
                    <p class="tiny-shadow"><%= number_to_currency(petsitter.price_rate/100.0) %></p>
                </div>
            <% end %>
        </div>
    <% end %>

</main>
