#booking {

    &.container {

        max-width: 960px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .form {

            border: 2px solid $base_green;

            width: calc(100% - 12px);

            .icon-column {
                width: 56px;
                padding: 0;
            }

            .half-column {
                width: 50%;
            }

            .booking-icon-status {
                width: 26px;
                height: 26px;
            }

            thead {
                background-color: $base_green;
                th {
                    color: $white;
                    text-shadow: none;
                }
            }

            tbody {
                tr {
                    background-color: $white;
                }
                tr:nth-child(even) {
                    background-color: rgb(224, 224, 224);
                }
                tr:hover {
                    background-color: $highlight_green;
                }
                
            }

            th,td {
                text-align: center;
                padding: 10px 0;
            }

        }

        .link-button {
            width: 150px;
            padding: 5px 15px;
            margin: 20px auto 0;
            display: block;
            border: 1px solid $base_green;
            text-align: center;

            &:hover {
                background-color: $base_green;
                color: $white_green;
            }
        }

        .booking-notification {
            width: 80%;
            padding: 5px 15px;
            margin: 20px auto 0;
            display: block;
            text-align: center;
            background-color: $base_green;
            color: $white_green;

        }

    }

}