#page-home {

    &.container {

        .component {

            &__image {

                &.your-pets {
                    background-image: url(image-path("your-pets.jpg"))
                }

                &.pet-sitters {
                    background-image: url(image-path("pet-sitters.jpg"))
                }

                &.become-sitter {
                    background-image: url(image-path("become-sitter.jpg"))
                }

                &.bookings {
                    background-image: url(image-path("bookings.jpg"))
                }

                &.your-details {
                    background-image: url(image-path("your-details.jpg"))
                }

            }

        }
    }
}