#pet-index {

    &.container {

        .component {

            &.component-pet {

                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            a {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;

                .pet-pic {
                    width: 150px;
                    height: 150px;
                }

                h3, p {
                    margin-top: 10px;
                    color: $white;
                }

            }

        }
    }

}

