@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

header {

    .nav-bar {
        background-color: rgb(0, 122, 138);
        width: 100%;
        height: 51px;
        display: flex;
        justify-content: flex-end;

        #toggle {
            display: none;
        }
        
        label {
            color: #fff;
            line-height: 51px;
            padding: 0 15px;
            font-size: 26px;
            display: none;
        }

        &__menu {
            background-color: rgb(0, 122, 138);

            margin: 0 auto;
            width: 960px;
            display: flex;
            justify-content: space-evenly;
            list-style: none;

            &__link {
                color: #fff;
                display: block;
                font-size: 16px;
                line-height: 51px;
                padding: 0 20px;

                &:hover {
                    background-color: pink;
                }

            }
        }
    }

    @media only screen and (max-width: 900px) {

        .nav-bar {

            label {
                display: block;
            }

            .nav-bar__menu {
                position: absolute;
                right: 0;
                top: 51px;
                
                flex-flow: column nowrap;
                justify-content: flex-start;
                width: 230px;
                height: calc(100% - 51px);
        
                -webkit-box-shadow: -10px 20px 15px 0px rgba(0,0,0,0.4);
                -moz-box-shadow: -10px 20px 15px 0px rgba(0,0,0,0.4);
                box-shadow: -10px 20px 15px 0px rgba(0,0,0,0.4);
        
                display: none;
        
                & li:first-child {
                    margin-top: 50px;
                }
            }

            #toggle:checked + .nav-bar__menu {
                display: flex;
            }
        }
    }
}

.page-name {
    flex-basis: 100%;
    text-align: center;
}

.container {
    margin: 0 auto;

    min-width: 320px;
    max-width: 960px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .component {
        width: 260px;
        margin: 10px;
        padding: 20px;
        background-color: rgb(197, 197, 197);

        a {
            display: inline-block;
            width: 100%;
            height: 100%;
        }
    }

}

.hero {

    z-index: 80;

    width: 100%;
    height: 400px;

    background-image: url("hero-background.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: #fff;
        font-size: 50px;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    }

}
