@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: $black;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tiny-shadow {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.standard-link {
    color: $base_green;
    font-weight: bold;

    &:hover {
        color: $base_red;
    }
}

.floating-bubble {
    display: block;
    padding: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    width: auto;
    position: absolute;
    top: 51px;
    left: 20px;
    color: $white;
}

.hideMe {
    -webkit-animation: hideAnimation 2s forwards; 
    animation: hideAnimation 2s forwards;
}

@keyframes hideAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes hideAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

header {

    .nav-bar {
        background-color: $base_green;
        width: 100%;
        height: 51px;
        display: flex;
        justify-content: flex-end;

        #toggle {
            display: none;
        }
        
        label {
            color: $white;
            line-height: 51px;
            padding: 0 15px;
            font-size: 26px;
            display: none;
        }

        &__menu {
            background-color: $base_green;

            margin: 0 auto;
            width: 960px;
            display: flex;
            justify-content: center;
            list-style: none;

            &__link {
                color: $white;
                display: block;
                font-size: 16px;
                line-height: 51px;
                padding: 0 20px;
                
                &:hover {
                    background-color: $highlight_green;
                }

            }
        }
    }

    @media only screen and (max-width: 850px) {

        .nav-bar {

            label {
                display: block;
            }

            .nav-bar__menu {
                position: fixed;
                right: 0;
                top: 0;
                bottom: 0;
                
                z-index: 90;

                flex-flow: column nowrap;
                justify-content: flex-start;
                width: 230px;
        
                -webkit-box-shadow: -10px 0px 15px 0px rgba(0,0,0,0.4);
                -moz-box-shadow: -10px 0px 15px 0px rgba(0,0,0,0.4);
                box-shadow: -10px 0px 15px 0px rgba(0,0,0,0.4);
        
                display: none;

                label {
                    align-self: flex-end;
                }

                li:first-of-type {
                    margin-top: 50px;
                }

            }

            #toggle:checked + .nav-bar__menu {
                display: flex;
            }
        }
    }
}

.page-name {
    flex-basis: 100%;
    text-align: center;
}

.container {

    margin: 20px auto 80px;

    max-width: 1280px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;

    .page-name {
        color: $base_green;
        margin: 20px;
    }

    .component {

        width: 260px;
        margin: 10px;
        background-color: $white;
        border-radius: 20px;
        overflow: hidden;

        h3, p {
            color: $white;
            text-align: center;
            z-index: 1;
        }

        h3 {
            font-size: 25px;
        }

        &__image {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 170px;
            border-radius: 20px 20px 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .5s;
        }

        &__info {
            background-color: $base_green;
            padding: 10px;
            position: relative;
            z-index: 80;
            height: 30px;
            border-radius: 0 0 20px 20px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
        }

        &__new-button {

            background-color: $white_green;
            border-radius: 20px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            height: 216px;
            border: 2px solid $base_green;

            h3 {
                color: $base_green;
            }

            &:hover {
                background-color: $base_green;
                h3 {
                    color: $white_green;
                }
            }

        }

        &:hover {
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);

            .component__image {
                transform: scale(1.2);
                transition: all .5s;
            }

        }

        a {
            display: inline-block;
            width: 100%;
            height: 100%;
        }

    }

    .link-button,
    input[type=submit] {

        width: 150px;
        height: 30px;
        margin: 20px auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $base_green;
        text-align: center;

        &:hover {
            background-color: $base_green;
            color: $white_green;
        }
    }

}

.hero {

    z-index: 80;

    width: 100%;
    height: 300px;

    background-image: url(image-path("hero-background.png"));
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    h1, h2 {
        color: $white;
        font-size: 50px;

        text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7),
                     1px 1px 1px rgba(0,0,0,0.5);;
        
        text-align: center;
    }

    h2 {
        font-size: 30px;
    }

}

footer {
    background-color: $base_green;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        text-align: center;
        color: #C9DBF2;
        font-size: 15px;
    }

    #socialMediaList {
        list-style: none;
        margin: 15px 0 0;
        padding: 0;
        display: flex;
        justify-content: center;

        li {
            margin: 10px;

            .socialMediaIcon {
                width: 30px;
                height: 30px;
                opacity: 0.5;
                transition: transform .2s; /* Animation */
            }
            
            .socialMediaIcon:hover {
                opacity: 1;
                position: relative;
                transform: scale(1.3);
            }

        }

    }

}
